In [1]:
# Sai Ram

In [2]:
# Sai Ram

In [3]:
# Sai Ram

# Dictionary

In [31]:
d = {} # by default, {} defines an empty dict 
type(d)

dict

In [32]:
d = {1 : "One", 2 : "Two", 3 : "Three", 4 : "Four"} # Dict is a combination of key-value pair ..ex: 1kg Mango ->50rs, 1kg Apple -> 60rs

In [12]:
d # keys has more priority than values and keys should be unique

{1: 'One', 2: 'Two', 3: 'Three', 4: 'Four'}

In [13]:
type(d)

dict

In [28]:
d1 = dict({1:"Amma", 2:"Baba", 3:"Sai", 3:"Divya"})
d1

{1: 'Amma', 2: 'Baba', 3: 'Divya'}

In [36]:
d2 = dict({'A' : "one", 'B': "Two", 'C' : "Three", 4 : "Four"}) # we can define keys and values by either digits or alphabets
d2

{'A': 'one', 'B': 'Two', 'C': 'Three', 4: 'Four'}

In [46]:
d3 = {1 : 1, 2 : "Amma", 3 : 10, 4 : 60} # we can combination of alphabets and digits to define keys and values in a dict
d3

{1: 1, 2: 'Amma', 3: 10, 4: 60}

In [47]:
d.keys() # keys() function will return only the keys present in the dictionary

dict_keys([1, 2, 3, 4])

In [48]:
d.values() # values() function will return the values in the dictionary

dict_values(['Ten', 'Two', 'Three', 'Four'])

In [49]:
d1.items() # items() function will return combination of key-value pair

dict_items([(1, 'Amma'), (2, 'Baba'), (3, 'Divya')])

In [50]:
len(d1) # returns the number of keys in the dict

3

In [51]:
d[1] = "Ten" # Dict is mutable, values can be modified dynamically (here 1 is the key)
d

{1: 'Ten', 2: 'Two', 3: 'Three', 4: 'Four'}

In [52]:
d3[7] # we should pass the key as argument, as d3 doesn't have 7 as key, it returns an error

KeyError: 7

In [71]:
d2["B"]

'Two'

In [72]:
d4 = {1:1, 2:2, "Amma":["Sai","Divya","Ram"],'D':(1,2,3)} # Any data type can be defined inside a dict
d4

{1: 1, 2: 2, 'Amma': ['Sai', 'Divya', 'Ram'], 'D': (1, 2, 3)}

In [73]:
d4 = {1:1, 2:2, "Amma":{"Name":"Divya", "Age":30},'D':(1,2,3)} # dict is mutable and we can change the values anytime
d4

{1: 1, 2: 2, 'Amma': {'Name': 'Divya', 'Age': 30}, 'D': (1, 2, 3)}

In [74]:
d4 = {'ten':1,2:2, "Amma":{"Name":"Divya", "Age":30},'D':(1,2,3)} # we change the key by re-defining the whole dict
d4

{'ten': 1, 2: 2, 'Amma': {'Name': 'Divya', 'Age': 30}, 'D': (1, 2, 3)}

In [75]:
d5 = dict({1:[1,2,3,4], 2:(6,7,8,9), 3:True, 4:{'Name':"Sai","Phone":"123456","Place":"AP"},5:6.79})
d5

{1: [1, 2, 3, 4],
 2: (6, 7, 8, 9),
 3: True,
 4: {'Name': 'Sai', 'Phone': '123456', 'Place': 'AP'},
 5: 6.79}

In [76]:
d5[3:True] = d5["A":True] # invalid

KeyError: slice('A', True, None)

In [77]:
d5[{3:True}] = d5[{"A":True}] # invalid

TypeError: unhashable type: 'dict'

In [78]:
d5({3:True}) = d5({"A":True}) # invalid
d5

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (3965984556.py, line 1)

#### Keys are changable only by re-defining the whole dict

In [79]:
d5 = dict({1:[1,2,3,4], 2:(6,7,8,9), "Amma":True, 4:{'Name':"Sai","Phone":"123456","Place":"AP"},5:6.79})
d5

{1: [1, 2, 3, 4],
 2: (6, 7, 8, 9),
 'Amma': True,
 4: {'Name': 'Sai', 'Phone': '123456', 'Place': 'AP'},
 5: 6.79}

In [80]:
print(type(d5[4])) # here 4 is the key not index as dict is accessible thru keys

<class 'dict'>

#### we can also assign keys to a dict by defining them(keys) seperately

In [89]:
d6 = {} # we should define an empty dict 1st and then define keys from the list of keys defined seperately

In [90]:
keys = (1,2,4,5)
d6 = d6.fromkeys(keys)
d6

{1: None, 2: None, 4: None, 5: None}

In [101]:
d7 = {} # we can also define value from the value that is defined seperately

In [102]:
keys = ('a','b','c','d')
value = (10)
d7 = d7.fromkeys(keys,value)
d7

{'a': 10, 'b': 10, 'c': 10, 'd': 10}

In [115]:
d7.keys()

dict_keys(['a', 'b', 'c', 'd'])

In [107]:
d8 = {} # here each key will be defined with the list of values specified

In [108]:
keys = ('a','b','c','d')
value = (10,20,30,40,50)
d8 = d8.fromkeys(keys,value)
d8

{'a': (10, 20, 30, 40, 50),
 'b': (10, 20, 30, 40, 50),
 'c': (10, 20, 30, 40, 50),
 'd': (10, 20, 30, 40, 50)}

In [109]:
d9 = {}

In [113]:
keys = {'a','b','c','d'}
value = (10,20,30,40)
d9 = d9.fromkeys(keys,value)
d9

{'b': (10, 20, 30, 40),
 'a': (10, 20, 30, 40),
 'c': (10, 20, 30, 40),
 'd': (10, 20, 30, 40)}

In [112]:
value.append(60) #invalid as the value type is tuple
d9

AttributeError: 'tuple' object has no attribute 'append'

In [116]:
d10 = {}

In [121]:
keys = {1,2,3,4}
values = ['a',',b','k','d']
d10 = d10.fromkeys(keys,values)
d10

{1: ['a', ',b', 'k', 'd'],
 2: ['a', ',b', 'k', 'd'],
 3: ['a', ',b', 'k', 'd'],
 4: ['a', ',b', 'k', 'd']}

In [122]:
values.append('s') # char s will be appended at last as List will allow appending elements(List is mutable)
d10

{1: ['a', ',b', 'k', 'd', 's'],
 2: ['a', ',b', 'k', 'd', 's'],
 3: ['a', ',b', 'k', 'd', 's'],
 4: ['a', ',b', 'k', 'd', 's']}

#### Accessing the dict items

In [123]:
d3

{1: 1, 2: 'Amma', 3: 10, 4: 60}

In [126]:
d3[2] # accessing by specifying the key

'Amma'

In [127]:
d3[4]

60

In [128]:
d3.get(3) # accessing the dict item by get() methos

10

In [135]:
mydict = {"Name":"SaiDivya", "ID":743219, "DOB":1992, 'Job': "Data Scientist at Google"}
mydict

{'Name': 'SaiDivya',
 'ID': 743219,
 'DOB': 1992,
 'Job': 'Data Scientist at Google'}

In [136]:
mydict['Name']

'SaiDivya'

In [137]:
mydict.get('Job')

'Data Scientist at Google'

#### add, remove and change items

In [138]:
mydict

{'Name': 'SaiDivya',
 'ID': 743219,
 'DOB': 1992,
 'Job': 'Data Scientist at Google'}

In [151]:
mydict = {"Name":"SaiDivya", "ID":743219, "DOB":1992, 'Job': "Data Scientist at Google","Place":"USA"} # adding the items
mydict

{'Name': 'SaiDivya',
 'ID': 743219,
 'DOB': 1992,
 'Job': 'Data Scientist at Google',
 'Place': 'USA'}

In [152]:
mydict = {"Name":"SaiDivya", 'ID':743219, "DOB": "March 15", 'Job':"Data Scientist at Microsoft", "Place": "USA"} # changing the values dynamically
mydict

{'Name': 'SaiDivya',
 'ID': 743219,
 'DOB': 'March 15',
 'Job': 'Data Scientist at Microsoft',
 'Place': 'USA'}

In [199]:
mydict1 = {"Name":"SaiRam", 'ID':1234, "Place":"USA"} # creating a new dict
mydict1

{'Name': 'SaiRam', 'ID': 1234, 'Place': 'USA'}

In [200]:
mydict1['Job'] = 'AI Engineer' # adding a new key and value

In [201]:
mydict1

{'Name': 'SaiRam', 'ID': 1234, 'Place': 'USA', 'Job': 'AI Engineer'}

In [202]:
dict1 = {"DOB":"March 15"} # update() function will create a new key-value if the specified key doesn't exist in the dict
mydict1.update(dict1)
mydict1

{'Name': 'SaiRam',
 'ID': 1234,
 'Place': 'USA',
 'Job': 'AI Engineer',
 'DOB': 'March 15'}

In [203]:
dict1 = {"DOB":"Oct 18"} # if the specified key exist in the dict, then update() function will update the value 
mydict1.update(dict1)
mydict1

{'Name': 'SaiRam',
 'ID': 1234,
 'Place': 'USA',
 'Job': 'AI Engineer',
 'DOB': 'Oct 18'}

In [204]:
mydict1.pop("DOB") # pop() function will remove the specified key from the dict

'Oct 18'

In [205]:
mydict1

{'Name': 'SaiRam', 'ID': 1234, 'Place': 'USA', 'Job': 'AI Engineer'}

In [206]:
mydict1.popitem() # popitem() function will remove the last item in the dict, it uses LIFO(Last In First Out)

('Job', 'AI Engineer')

In [207]:
mydict1

{'Name': 'SaiRam', 'ID': 1234, 'Place': 'USA'}

In [208]:
mydict1.popitem()

('Place', 'USA')

In [209]:
mydict1

{'Name': 'SaiRam', 'ID': 1234}

In [210]:
del[mydict1['ID']] # deletes the specified key from the dict
mydict1

{'Name': 'SaiRam'}

In [211]:
del mydict1 # deletes the entire dict object from memory

In [212]:
mydict1

NameError: name 'mydict1' is not defined

In [213]:
mydict

{'Name': 'SaiDivya',
 'ID': 743219,
 'DOB': 'March 15',
 'Job': 'Data Scientist at Microsoft',
 'Place': 'USA'}

In [214]:
mydict1 = mydict # creates a new reference mydict1 and points to the same memory address of mydict

In [215]:
mydict1

{'Name': 'SaiDivya',
 'ID': 743219,
 'DOB': 'March 15',
 'Job': 'Data Scientist at Microsoft',
 'Place': 'USA'}

In [219]:
print(id(mydict)) # The memory address both mydict and mydict are same
print(id(mydict1))

3026339972352
3026339972352

In [220]:
mydict2 = mydict.copy() # creates a new copy of the dict and new address space will be defined

print(id(mydict))
print(id(mydict2))

3026339972352
3026338174464

In [222]:
id(mydict1), id(mydict2) # the address space will be different for mydict1 and mydict2

(3026339972352, 3026338174464)

In [224]:
mydict["DOB"] = "Oct 18"
mydict

{'Name': 'SaiDivya',
 'ID': 743219,
 'DOB': 'Oct 18',
 'Job': 'Data Scientist at Microsoft',
 'Place': 'USA'}

In [225]:
mydict1 # the DOB value of mydict1 will also be changed as both mydict and mydict1 shares the same address space in memory

{'Name': 'SaiDivya',
 'ID': 743219,
 'DOB': 'Oct 18',
 'Job': 'Data Scientist at Microsoft',
 'Place': 'USA'}

In [227]:
mydict2 # the DOB value of mydict2 won't get changed as both mydict2 has different address space in memory

{'Name': 'SaiDivya',
 'ID': 743219,
 'DOB': 'March 15',
 'Job': 'Data Scientist at Microsoft',
 'Place': 'USA'}

#### Loop through dict

In [229]:
for i in mydict: # only returns the keys as i holds the keys in each iteration
    print(i)

Name
ID
DOB
Job
Place

In [235]:
for i in mydict1: # prints both keys and corresponding values
    print(i, ":", mydict1[i])

Name : SaiDivya
ID : 743219
DOB : Oct 18
Job : Data Scientist at Microsoft
Place : USA

In [236]:
for i in mydict: # prints only the values 
    print(mydict[i])

SaiDivya
743219
Oct 18
Data Scientist at Microsoft
USA

#### Dictionary Membership

In [237]:
mydict1

{'Name': 'SaiDivya',
 'ID': 743219,
 'DOB': 'Oct 18',
 'Job': 'Data Scientist at Microsoft',
 'Place': 'USA'}

In [240]:
'SaiDivya' in mydict1 # returns false as it will check the availability of keys

False

In [241]:
'Name' in mydict1 # returns as mydict has the key "Name"

True

In [242]:
3 in mydict1

False

#### all() and any()

In [252]:
mydict1

{'Name': 'SaiDivya',
 'ID': 743219,
 'DOB': 'Oct 18',
 'Job': 'Data Scientist at Microsoft',
 'Place': 'USA',
 4: False,
 False: 'Yes'}

In [243]:
all(mydict1) # returns True as none of the keys is False

True

In [244]:
any(mydict1)

True

In [246]:
mydict1.update({4:False})
mydict1

{'Name': 'SaiDivya',
 'ID': 743219,
 'DOB': 'Oct 18',
 'Job': 'Data Scientist at Microsoft',
 'Place': 'USA',
 4: False}

In [247]:
all(mydict1)  # returns True as none of the keys is False(only verifies the keys but not values)

True

In [248]:
any(mydict1)

True

In [249]:
mydict1.update({False:"Yes"})
mydict1

{'Name': 'SaiDivya',
 'ID': 743219,
 'DOB': 'Oct 18',
 'Job': 'Data Scientist at Microsoft',
 'Place': 'USA',
 4: False,
 False: 'Yes'}

In [250]:
any(mydict1)

True

In [253]:
all(mydict1)  # returns False as one of the keys is False

False

# Range

In [7]:
range(10) # returns a range of integers from 0 till n-1

range(0, 10)

In [8]:
r = range(15)
r

range(0, 15)

In [9]:
list(r) # returns from 0 till 14 (n-1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [10]:
r1 = range(10, 20) # returns a set of integers from i till j-1 (here 10 till 19)
r1

range(10, 20)

In [5]:
list(r1)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [11]:
list(range(25,40)) # returns from 25 till 39

[25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39]